modules = ["cpp-clang14", "python-3.12"]
[nix]
channel = "stable-24_05"
packages = ["bc", "clang-tools_18", "cmake", "hexdump", "llvmPackages.bintools-unwrapped", "python312Packages.jsonschema", "python312Packages.pyyaml", "unixtools.xxd"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test"

[[workflows.workflow]]
name = "test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd irata && make test"

[workflows.workflow.metadata]
outputType = "console"
